# Question
From the given data answer the following questions
- Check weather female performs good or male studentds in each score.
- Is there any difference in student score if parents have master-level education in each score
- Is there any difference in student score if parents have bachler-level education in each score
- How many Parents have bachelors education, master education, or some college degrees level education
- In a score the top scorer is male or female
- How many students are good in reading (>75) nut not in writing (<75)

## Solution:-

### Imports

In [1]:
import pandas as pd

### Data

In [2]:
# Input Data
labels = ['gender', 'parental level of education', 'test preparation course', 'math score', 'reading score', 'writing score']
data = [ 
   ['female',  "bachelor's degree",    'none',        '72', '72', '74'], 
   ['female',  'some college',         'completed',   '69', '90', '88'], 
   ['female',  "master's degree",      'none',        '90', '95', '93'], 
   ['male',    "associate's degree",   'none',        '47', '57', '44'], 
   ['male',    'some college',         'none',        '76', '78', '75'], 
   ['female',  "associate's degree",   'none',        '71', '83', '78'], 
   ['female',  'some college',         'completed',   '88', '95', '92'], 
   ['male',    'some college',         'none',        '40', '43', '39'], 
   ['male',    'high school',          'completed',   '64', '64', '67'], 
   ['female',  'high school',          'none',        '38', '60', '50'], 
   ['male',    "associate's degree",   'none',        '58', '54', '52'], 
   ['male',    "associate's degree",   'none',        '40', '52', '43'], 
   ['female',  'high school',          'none',        '65', '81', '73'], 
   ['male',    'some college',         'completed',   '78', '72', '70'], 
   ['female',  "master's degree",      'none',        '50', '53', '58'], 
   ['female',  'some high school',     'none',        '69', '75', '78'], 
   ['male',    'high school',          'none',        '88', '89', '86'], 
   ['female',  'some high school',     'none',        '18', '32', '28'], 
   ['male',    "master's degree",      'completed',   '46', '42', '46'], 
   ['female',  "associate's degree",   'none',        '54', '58', '61'], 
   ['male',    'high school',          'none',        '66', '69', '63'], 
   ['female',  'some college',         'completed',   '65', '75', '70'], 
   ['male',    'some college',         'none',        '44', '54', '53'], 
   ['female',  'some high school',     'none',        '69', '73', '73'], 
   ['male',    "bachelor's degree",    'completed',   '74', '71', '80'], 
   ['male',    "master's degree",      'none',        '73', '74', '72'], 
   ['male',    'some college',         'none',        '69', '54', '55'], 
   ['female',  "bachelor's degree",    'none',        '67', '69', '75'], 
   ['male',    'high school',          'none',        '70', '70', '65'], 
   ['female',  "master's degree",      'none',        '62', '70', '75'], 
   ['female',  'some college',         'none',        '69', '74', '74'], 
   ['female',  'some college',         'none',        '63', '65', '61'], 
   ['female',  "master's degree",      'none',        '56', '72', '65'], 
   ['male',    'some college',        'none',        '40', '42', '38'], 
   ['male',    'some college',         'none',        '97', '87', '82'], 
   ['male',    "associate's degree",   'completed',   '81', '81', '79'], 
   ['female',  "associate's degree",   'none',        '74', '81', '83'], 
   ['female',  'some high school',     'none',        '50', '64', '59'], 
   ['female',  "associate's degree",   'completed',   '75', '90', '88'], 
]

In [3]:
pd.DataFrame(labels)

                             0
0                       gender
1  parental level of education
2      test preparation course
3                   math score
4                reading score
5                writing score

In [4]:
list_data = pd.DataFrame(data)
list_data.columns = labels
list_data

,gender,parental level of education,test preparation course,math score,reading score,writing score
0,female,bachelor's degree,none,72,72,74
1,female,some college,completed,69,90,88
2,female,master's degree,none,90,95,93
3,male,associate's degree,none,47,57,44
4,male,some college,none,76,78,75
5,female,associate's degree,none,71,83,78
6,female,some college,completed,88,95,92
7,male,some college,none,40,43,39
8,male,high school,completed,64,64,67
9,female,high school,none,38,60,50
10,male,associate's degree,none,58,54,52
11,male,associate's degree,none,40,52,43
12,female,high school,none,65,81,73
13,male,some college,completed,78,72,70
14,female,master's degree,none,50,53,58
15,female,some high school,none,69,75,78
16,male,high school,none,88,89,86
17,female,some high school,none,18,32,28
18,male,master's degree,completed,46,42,46
19,female,associate's degree,none,54,58,61
20,male,high school,none,66,69,63
21,female,some college,completed,65,75,70
22,male,some college,none,44,54,53
23,female,some high school,none,69,73,73
24,male,bachelor's degree,completed,74,71,80
25,male,master's degree,none,73,74,72
26,male,some college,none,69,54,55
27,female,bachelor's degree,none,67,69,75
28,male,high school,none,70,70,65
29,female,master's degree,none,62,70,75
30,female,some college,none,69,74,74
31,female,some college,none,63,65,61
32,female,master's degree,none,56,72,65
33,male,some college,none,40,42,38
34,male,some college,none,97,87,82
35,male,associate's degree,completed,81,81,79
36,female,associate's degree,none,74,81,83
37,female,some high school,none,50,64,59
38,female,associate's degree,completed,75,90,88

### Check weather female performs good or male studentds.

In [5]:
bestPerformers = []
subjects = []
for score_column in [3,4,5]:
    male_students = 0
    female_students = 0
    male_score_sum = 0
    female_score_sum = 0
    for innerList in data:
        if innerList[0] == "female":
            female_students = female_students + 1
            female_score_sum = female_score_sum + int(innerList[score_column])
        else:
            male_students = male_students +1
            male_score_sum = male_score_sum + int(innerList[score_column])
    print("**********")
    print("**********")
    print("**********")
    print(f"Subject : {(labels[score_column]).split(' ')[0].capitalize()}")
    print(f"Total Students = {male_students+female_students}")
    print(f"Female Students = {female_students}")
    print(f"Commulative score of female students = {female_score_sum}")
    print(f"Average score of female students = {female_score_sum/female_students}")
    print(f"Male Students = {male_students}")
    print(f"Commulative score of male students = {male_score_sum}")
    print(f"Average score of male students = {male_score_sum/male_students}")
    if female_score_sum/female_students < male_score_sum/male_students:
        print(f"Male students in {(labels[score_column]).split(' ')[0].capitalize()} performed better as comapred to female students")
        bestPerformers.append("Male")
        subjects.append((labels[score_column]).split(' ')[0].capitalize())
    elif female_score_sum/female_students > male_score_sum/male_students:
        print(f"Female students in {(labels[score_column]).split(' ')[0].capitalize()} performed better as comapred to male students")
        bestPerformers.append("Female")
        subjects.append((labels[score_column]).split(' ')[0].capitalize())
    else:
        print(f"Both male and female students in {(labels[score_column]).split(' ')[0].capitalize()} performed equaly")
        bestPerformers.append("NA")
        subjects.append((labels[score_column]).split(' ')[0].capitalize())

**********
**********
**********
Subject : Math
Total Students = 39
Female Students = 21
Commulative score of female students = 1334
Average score of female students = 63.523809523809526
Male Students = 18
Commulative score of male students = 1151
Average score of male students = 63.94444444444444
Male students in Math performed better as comapred to female students
**********
**********
**********
Subject : Reading
Total Students = 39
Female Students = 21
Commulative score of female students = 1527
Average score of female students = 72.71428571428571
Male Students = 18
Commulative score of male students = 1153
Average score of male students = 64.05555555555556
Female students in Reading performed better as comapred to male students
**********
**********
**********
Subject : Writing
Total Students = 39
Female Students = 21
Commulative score of female students = 1496
Average score of female students = 71.23809523809524
Male Students = 18
Commulative score of male students = 1109
Average score of male students = 61.611111111111114
Female students in Writing performed better as comapred to male students

In [6]:
q1Answer = pd.DataFrame(bestPerformers,index=subjects)
q1Answer.columns=["Best Performer in repective test"]
q1Answer

        Best Performer in repective test
Math                                Male
Reading                           Female
Writing                           Female

### Is there any difference in student score if parents have master-level education in specified score

In [7]:
parents_education = []
for innerList in data:
    parents_education.append(innerList[1])
temp_data = set(parents_education)
temp_data = pd.DataFrame(temp_data)
temp_data.columns=["Level of educations parents have"]
temp_data

  Level of educations parents have
0                     some college
1                 some high school
2                bachelor's degree
3               associate's degree
4                      high school
5                  master's degree

In [8]:
parents_based_performance = []
subjects = []
for score_column in [3,4,5]:
    students_parents_with_master = 0
    students_parents_without_master = 0
    students_parents_with_master_score_sum = 0
    students_parents_without_master_score_sum = 0
    for innerList in data:
        if innerList[1] == "master's degree":
            students_parents_with_master +=1
            students_parents_with_master_score_sum += int(innerList[score_column])

        else:
            students_parents_without_master += 1
            students_parents_without_master_score_sum += int(innerList[score_column])
    print("**********")
    print("**********")
    print("**********")
    print(f"Subject : {(labels[score_column]).split(' ')[0].capitalize()}")
    print(f"Total Students = {students_parents_with_master+students_parents_without_master}")
    print(f"Students who's parents have a master degree = {students_parents_with_master}")
    print(f"Commulative score of students who's parents have a master degree = {students_parents_with_master_score_sum}")
    print(f"Average score of students who's parents have a master degree = {students_parents_with_master_score_sum/students_parents_with_master}")
    print(f"Students who's parents don't have a master degree = {students_parents_without_master}")
    print(f"Commulative score of students who's parents don't have a master degree = {students_parents_without_master_score_sum}")
    print(f"Average score of students who's parents don't have a master degree = {students_parents_without_master_score_sum/students_parents_without_master}")
    if students_parents_with_master_score_sum/students_parents_with_master > students_parents_without_master_score_sum/students_parents_without_master:
        print(f"In {(labels[score_column]).split(' ')[0].capitalize()} those students who's parents have a master's degree performed better as comapred to other students")
        parents_based_performance.append("Yes")
        subjects.append((labels[score_column]).split(' ')[0].capitalize())
    elif students_parents_with_master_score_sum/students_parents_with_master < students_parents_without_master_score_sum/students_parents_without_master:
        print(f"In {(labels[score_column]).split(' ')[0].capitalize()} those students who's parents don't have a master's degree performed better as comapred to other students")
        parents_based_performance.append("No")
        subjects.append((labels[score_column]).split(' ')[0].capitalize())
    else:
        print(f"All students in {(labels[score_column]).split(' ')[0].capitalize()} performed equaly irrespective of their parent's education")
        parents_based_performance.append("NA")
        subjects.append((labels[score_column]).split(' ')[0].capitalize())

**********
**********
**********
Subject : Math
Total Students = 39
Students who's parents have a master degree = 6
Commulative score of students who's parents have a master degree = 377
Average score of students who's parents have a master degree = 62.833333333333336
Students who's parents don't have a master degree = 33
Commulative score of students who's parents don't have a master degree = 2108
Average score of students who's parents don't have a master degree = 63.878787878787875
In Math those students who's parents don't have a master's degree performed better as comapred to other students
**********
**********
**********
Subject : Reading
Total Students = 39
Students who's parents have a master degree = 6
Commulative score of students who's parents have a master degree = 406
Average score of students who's parents have a master degree = 67.66666666666667
Students who's parents don't have a master degree = 33
Commulative score of students who's parents don't have a master degree = 2274
Average score of students who's parents don't have a master degree = 68.9090909090909
In Reading those students who's parents don't have a master's degree performed better as comapred to other students
**********
**********
**********
Subject : Writing
Total Students = 39
Students who's parents have a master degree = 6
Commulative score of students who's parents have a master degree = 409
Average score of students who's parents have a master degree = 68.16666666666667
Students who's parents don't have a master degree = 33
Commulative score of students who's parents don't have a master degree = 2196
Average score of students who's parents don't have a master degree = 66.54545454545455
In Writing those students who's parents have a master's degree performed better as comapred to other students

In [9]:
q2Answer = pd.DataFrame(parents_based_performance,index=subjects)
q2Answer.columns=["Students having parent's with master's degree performed batter"]
q2Answer

        Students having parent's with master's degree performed batter
Math                                                    No
Reading                                                 No
Writing                                                Yes

### Is there any difference in student score if parents have bachler-level education in specified score

In [10]:
temp_data

  Level of educations parents have
0                     some college
1                 some high school
2                bachelor's degree
3               associate's degree
4                      high school
5                  master's degree

In [11]:
parents_based_performance = []
subjects = []
for score_column in [3,4,5]:
    students_parents_with_bachelor = 0
    students_parents_without_bachelor = 0
    students_parents_with_bachelor_score_sum = 0
    students_parents_without_bachelor_score_sum = 0
    for innerList in data:
        if innerList[1] == "bachelor's degree":
            students_parents_with_bachelor +=1
            students_parents_with_bachelor_score_sum += int(innerList[score_column])

        else:
            students_parents_without_bachelor += 1
            students_parents_without_bachelor_score_sum += int(innerList[score_column])
    print("**********")
    print("**********")
    print("**********")
    print(f"Subject : {(labels[score_column]).split(' ')[0].capitalize()}")
    print(f"Total Students = {students_parents_with_bachelor+students_parents_without_bachelor}")
    print(f"Students who's parents have a bachelor degree = {students_parents_with_bachelor}")
    print(f"Commulative score of students who's parents have a bachelor degree = {students_parents_with_bachelor_score_sum}")
    print(f"Average score of students who's parents have a bachelor degree = {students_parents_with_bachelor_score_sum/students_parents_with_bachelor}")
    print(f"Students who's parents don't have a bachelor degree = {students_parents_without_bachelor}")
    print(f"Commulative score of students who's parents don't have a bachelor degree = {students_parents_without_bachelor_score_sum}")
    print(f"Average score of students who's parents don't have a bachelor degree = {students_parents_without_bachelor_score_sum/students_parents_without_bachelor}")
    if students_parents_with_bachelor_score_sum/students_parents_with_bachelor > students_parents_without_bachelor_score_sum/students_parents_without_bachelor:
        print(f"In {(labels[score_column]).split(' ')[0].capitalize()} those students who's parents have a bachelor's degree performed better as comapred to other students")
        parents_based_performance.append("Yes")
        subjects.append((labels[score_column]).split(' ')[0].capitalize())
    elif students_parents_with_bachelor_score_sum/students_parents_with_bachelor < students_parents_without_bachelor_score_sum/students_parents_without_bachelor:
        print(f"In {(labels[score_column]).split(' ')[0].capitalize()} those students who's parents don't have a bachelor's degree performed better as comapred to other students")
        parents_based_performance.append("No")
        subjects.append((labels[score_column]).split(' ')[0].capitalize())
    else:
        print(f"All students in {(labels[score_column]).split(' ')[0].capitalize()} performed equaly irrespective of their parent's education")
        parents_based_performance.append("NA")
        subjects.append((labels[score_column]).split(' ')[0].capitalize())

**********
**********
**********
Subject : Math
Total Students = 39
Students who's parents have a bachelor degree = 3
Commulative score of students who's parents have a bachelor degree = 213
Average score of students who's parents have a bachelor degree = 71.0
Students who's parents don't have a bachelor degree = 36
Commulative score of students who's parents don't have a bachelor degree = 2272
Average score of students who's parents don't have a bachelor degree = 63.111111111111114
In Math those students who's parents have a bachelor's degree performed better as comapred to other students
**********
**********
**********
Subject : Reading
Total Students = 39
Students who's parents have a bachelor degree = 3
Commulative score of students who's parents have a bachelor degree = 212
Average score of students who's parents have a bachelor degree = 70.66666666666667
Students who's parents don't have a bachelor degree = 36
Commulative score of students who's parents don't have a bachelor degree = 2468
Average score of students who's parents don't have a bachelor degree = 68.55555555555556
In Reading those students who's parents have a bachelor's degree performed better as comapred to other students
**********
**********
**********
Subject : Writing
Total Students = 39
Students who's parents have a bachelor degree = 3
Commulative score of students who's parents have a bachelor degree = 229
Average score of students who's parents have a bachelor degree = 76.33333333333333
Students who's parents don't have a bachelor degree = 36
Commulative score of students who's parents don't have a bachelor degree = 2376
Average score of students who's parents don't have a bachelor degree = 66.0
In Writing those students who's parents have a bachelor's degree performed better as comapred to other students

In [12]:
q3Answer = pd.DataFrame(parents_based_performance,index=subjects)
q3Answer.columns=["Students having parent's with bachelor's degree performed batter"]
q3Answer

        Students having parent's with bachelor's degree performed batter
Math                                                   Yes
Reading                                                Yes
Writing                                                Yes

### How many Parents have bachelors education, master education, or some college degrees level education

In [13]:
temp_data

  Level of educations parents have
0                     some college
1                 some high school
2                bachelor's degree
3               associate's degree
4                      high school
5                  master's degree

In [14]:
parents_education_list = []
for innerList in data:
    parents_education_list.append(innerList[labels.index("parental level of education")])
no_bachelors= 0
no_college = 0
no_master = 0
no_other = 0
for i in parents_education_list:
    if i == "bachelor's degree":
        no_bachelors += 1
    elif i == "some college":
        no_college += 1
    elif i == "master's degree":
        no_master += 1
    else:
        no_other += 1
print(f"{no_bachelors} number of parents have bachelors level degree" )
print(f"{no_master} number of parents have masters level degree" )
print(f"{no_college} number of parents have some college level degree" )
print(f"{no_other} number of parents have some other level of education")

3 number of parents have bachelors level degree
6 number of parents have masters level degree
12 number of parents have some college level degree
18 number of parents have some other level of education

In [15]:
listA = ["Bachelor's degree","Masters's degree","Some College level","Total"]
listB = [no_bachelors,no_master,no_college,no_bachelors+no_master+no_college]
q4Answer = pd.DataFrame(listB, index=listA)
q4Answer.columns= ["Number of parents with specified education"]
q4Answer

                    Number of parents with specified education
Bachelor's degree                                            3
Masters's degree                                             6
Some College level                                          12
Total                                                       21

### In a score the top scorer is male or female

In [16]:
top_performers = []
top_scores = []
subjects = []
for score_column in [3,4,5]:
    higest_score = 0
    higest_performer = " "
    for innerList in data:
        if int(innerList[score_column]) > higest_score:
            higest_score = int(innerList[score_column])
            higest_performer = innerList[0]
    print("**********")
    print("**********")
    print("**********")
    print(f"Top performer in {(labels[score_column]).split(' ')[0].capitalize()} is a {higest_performer} with a score of {higest_score}")
    top_scores.append(higest_score)
    top_performers.append(higest_performer)
    subjects.append((labels[score_column]).split(' ')[0].capitalize())

subjects

**********
**********
**********
Top performer in Math is a male with a score of 97
**********
**********
**********
Top performer in Reading is a female with a score of 95
**********
**********
**********
Top performer in Writing is a female with a score of 93

['Math', 'Reading', 'Writing']

In [17]:
q5Answer = pd.DataFrame([top_performers,top_scores],index=["Top Scorer Gender","Top Score"])
q5Answer.columns=subjects
q5Answer

                   Math Reading Writing
Top Scorer Gender  male  female  female
Top Score            97      95      93

### How many students are good in reading (>75) nut not in writing (<75)

In [18]:
labels

['gender',
 'parental level of education',
 'test preparation course',
 'math score',
 'reading score',
 'writing score']

In [19]:
no_of_students = 0
for innerList in data:
    if int(innerList[labels.index('reading score')]) > 75:
        if int(innerList[labels.index('writing score')]) < 75:
            no_of_students +=1
q6Answer = f"There are {no_of_students} number of students who are good at reading but bad at writing"
print(q6Answer)

There are 1 number of students who are good at reading but bad at writing

## Answers

- Check weather female performs good or male studentds in each score.

In [20]:
q1Answer

        Best Performer in repective test
Math                                Male
Reading                           Female
Writing                           Female

- Is there any difference in student score if parents have master-level education in each score

In [21]:
q2Answer

        Students having parent's with master's degree performed batter
Math                                                    No
Reading                                                 No
Writing                                                Yes

- Is there any difference in student score if parents have bachler-level education in each score

In [22]:
q3Answer

        Students having parent's with bachelor's degree performed batter
Math                                                   Yes
Reading                                                Yes
Writing                                                Yes

- How many Parents have bachelors education, master education, or some college degrees level education

In [23]:
q4Answer

                    Number of parents with specified education
Bachelor's degree                                            3
Masters's degree                                             6
Some College level                                          12
Total                                                       21

- In a score the top scorer is male or female

In [24]:
q5Answer

                   Math Reading Writing
Top Scorer Gender  male  female  female
Top Score            97      95      93

- How many students are good in reading (>75) nut not in writing (<75)

In [25]:
print(q6Answer)

There are 1 number of students who are good at reading but bad at writing